<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <script>
        var emissions_year = {{ emissions_year | safe }};
        var emissions_tech = {{ emissions_tech | safe }};
        var emissions_mat = {{ emissions_mat | safe }};

        {# var jobs_year_full = {{ jobs_year_full | safe }}; #}
        var jobs_year = {{ jobs_year | safe }};
        var jobs_tech = {{ jobs_tech | safe }};
        var jobs_ind = {{ jobs_ind | safe }};

    </script>
</head>
<body>

    <h1>My Webpage</h1>

</body>
</html>
