<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <script>
        var emissions_year = {{ emissions_year }};
        var emissions_tech = {{ emissions_tech }};
        var emissions_mat = {{ emissions_mat }};
    </script>
</head>
<body>

    <h1>My Webpage</h1>

</body>
</html>
